<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

</head>

<body style='margin: 0px;'>

    <div style='margin-bottom: 5px; padding: 10px;'>

        <button>
            11111
        </button>        <button>
            11111
        </button>        <button>
            11111
        </button>


    </div>


    <div >
        <canvas id="VerticalRulerCanvas" style="height: 600px; width: 50px; background-color: #B9C77A; float: left;margin-top: 50px;">
        </canvas>

        <div style="width: 800px;height:600px;float: left;">
            <canvas id='HorizontalRulerCanvas' style="height: 50px; width: 800px; background-color:  #F7704C;margin-bottom: -4px;">
            </canvas>
            <div id="example" style="width: 800px;height:600px;background-color: #333333;">
            </div>
        </div>
    </div>

   
    
</body>

</html>